body
{
    margin: 0;
    padding: 0;
    background-color: #F7F6F4;
}

h1,h2,h3,h4,h5,h6,ul,ol,li,p
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.container
{
    width: 1240px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    background-color: #f7f6f4;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.08), 
                0 8px 10px -6px rgba(0, 0, 0, 0.04);
}

.header-menu {
    padding-top: 25px; 
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-element ul
{
    display: flex;
    gap: 70px;
}

.header-element ul li
{
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #00373E;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.hero 
{
    margin-top: 161px;
    height: 668px;
    background-color: #F9E6D0;
    border-radius: 70px;
    text-align: center;
    position: relative;

    overflow: hidden;
}

.hero h1
{
    padding-top: 170px;
    font-size: 70px;
    max-width: 640px;
    font-weight: 700;
    color: #00373E;
    margin: 0 auto;
}

.hero p
{
    padding-top: 15px;
    font-size: 24px;
    max-width: 564px;
    font-weight: 400;
    color: #00373E;
    font-family: 'Bricolage Grotesque', sans-serif;
    margin: 0 auto;
}

.hero button
{
    margin: 45px auto;
    background-color: #00373E;
    color: white;
    width: 195px;
    height: 54px;
    border-radius: 27px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-family: 'Bricolage Grotesque', sans-serif;
    border: none;
}

.hero-image
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    pointer-events: none;  
}

.about
{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 40px auto 0 auto;
    height: 564px;
}

.about-element-p1
{
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #00373E;
    font-family: 'Bricolage Grotesque', sans-serif;
    margin-top: 47px;
}
.about-element h2
{
    margin-top: 37px;
    font-size: 52px;
    max-width: 440px;
    font-weight: 600;
    color: #00373E;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.about-element-p2
{
    font-size: 22px;
    font-weight: 400;
    color: #00373E;
    font-family: 'Bricolage Grotesque', sans-serif;
    max-width: 476px;
    margin-top: 37px;
}

.about-element button
{
   margin-top: 37px;
   background-color: #00373E;
   color: white;
   width: 243px;
   height: 54px;
   border-radius: 27px;
   font-size: 20px;
   border: none;
   font-weight: 600;
   font-family: 'Bricolage Grotesque', sans-serif;
}

.cry-wooman
{
    background-color: #00373E;
    width: 550px;
    height: 564px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;

}

.cry-wooman img
{
    width: 350px;
    height: 416px;
}